.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic {
    width: 60%;  /* Responsive width (adjust as needed) */
    max-width: 200px; /* Max size on larger screens */
    height: auto; /* Let height adjust before cropping */
    aspect-ratio: 1 / 1; /* Force square aspect ratio */
    object-fit: cover;
    margin-bottom: 1em;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 1px solid black;
}

.profile-pic:hover {
    box-shadow: 0 0 8px 1px rgba(5, 5, 5, 0.5);
    filter: brightness(1.2);
}

.btn-primary {
    background-image: none;
    border: none;
    border-radius: 0;
    background-color: #2892D7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #1f7bbd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-primary:active {
    background-color: #1a68a0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

h3 {
    margin-bottom: 1em;
}